<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-1">
                        <a href="/"><button class="btn btn-danger my-3">Go back</button></a>
                    </div>
                    <div class="col-md-5 my-3">
                        <div class="card">
                            <div class="card-header">
                                <h2>Checkout - Verify payment request</h2>
                            </div>
                            <div class="card-body">
                                <form action="/api/payment-request" method="POST">
                                    <div class="mb-3">
                                        <label for="amount" class="form-label">Amount</label>
                                        <span class="form-text text-danger">*</span>
                                        <div class="input-group mb-3">
                                            <input name="amount" id="amount" type="number" class="form-control" aria-label="Amount" aria-describedby="IRR" value="1000" min="1000" required>
                                            <span class="input-group-text" id="IRR">IRR</span>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Name</label>
                                        <span class="form-text text-danger">*</span>
                                        <input name="name" type="text" class="form-control" id="name" placeholder="You Full Name" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <span class="form-text text-danger">*</span>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="example@domain.com" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="phone" class="form-label">Phone number</label>
                                        <input name="phone" type="text" class="form-control" id="phone" placeholder="You fullname">
                                    </div>
                                    <div class="mb-3">
                                        <label for="desc" class="form-label">Payment description</label>
                                        <textarea class="form-control" id="desc" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 mt-2">Checkout</button>
                                </form>
                            </div>
                        </div>
                        <form action="/api/payment-request">
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>